// Dark Primary
$darkPrimaryColor: #213246;

// Primary
$primaryColor: #52a6e6;

// Light Primary
$lightPrimaryColor: #FFCDD2;

// Accent Color
$accentColor: #FF5252;

// Primary Text Color
$primaryText: #212121;

// Secondary Text Color
$secondaryText: #727272;

// Divider Color
$dividerColor: #B6B6B6;

$primaryFont: 'Titillium Web';

@import 'Reset';

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

// Responsive containers
.navbarContainer{
  margin: 0% auto;

  @media screen and (min-width: 1200px)
  {
    width: 775px;
  }
  
  @media screen and (max-width: 1199px) and (min-width: 775px) {
    width: 800px;
  }

  @media screen and (max-width: 774px){
    width: 100%;
  }

  .innerCont {
    text-align: center;

    position: relative;
    top: 68px;

    @media screen and (max-width: 774px) and (min-width: 401px){
      top: 60px;
    }

    @media screen and (max-width: 400px){
      top: 55px;
    }

      .progressBox {
      height: 90px;
      width: 90px;

      display: inline-block;

      border: 5px solid #5a5858;
      border-radius: 50%;

      background: white;

      cursor: pointer;

      @media screen and (max-width: 774px) and (min-width: 401px){
        height: 70px;
        width: 70px;
      }

        @media screen and (max-width: 400px){
          height: 60px;
          width: 60px;
        }
    }

    .progressBox.active{
      background: rgb(189, 223, 199);
    }

    .divider {
      height: 5px;
      width: 60px;

      background: #5a5858;

      display: inline-block;
      margin-left: 13px;
      margin-right: 10px;

      position: relative;
      top: -38px;

      border-radius: 50px;

      @media screen and (max-width: 774px){
        display: none;
      }
    }
  }
}

.checkoutContainer{
  margin: 0% auto;

  @media screen and (min-width: 1200px)
  {
    width: 745px;
  }

  @media screen and (max-width: 1199px) and (min-width: 775px) {
    width: 745px;
  }

  @media screen and (max-width: 774px){
    width: 95%;
  }
}

// Main styling
.mainContainer{
  position: relative;
  top: -100px;

  @media screen and (max-width: 400px) {
    top: -130px;
  }

    .topHead{
    height: 300px;

      @media screen and (max-width: 400px) {
        height: 240px;
      }

    .bottomMain {
      position: relative;
      top: 100px;

      .iconsHead {

        .iconsInner{


        }
      }

      .barHold {
        height: 50px;
        width: 100%;

        background-color: #ced8d0;
      }
    }
  }

  .checkoutMain{

    .innerCheckoutMain{
      margin-top: 15px;

      .checkoutPage{
        border-top: 2px solid #5a5858;

        .topPageHead{
          background: #bce0c6;
          padding: 15px;

          margin: 0% auto;
          float: none;

          margin-top: 5px;

          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;

          .innerHead{

            h3{
              font-weight: 700;
              font-size: 1.6em;

              color: #5a5858;

              text-align: center;
            }
          }
        }

        .innerPageMain{
          margin-top: 50px;

          background: #ededed;
          padding: 20px;

          border-radius: 8px;
        }
      }
    }
  }
}

// Alert box
.alertMain{
  margin: 0% auto;
  margin-top: 100px;

  width: 400px;
  border: 2px solid #bfbfbf;
  border-radius: 5px;
  background: white;
  padding: 30px;

  height: 220px;

  @media screen and (max-width: 774px) and (min-width: 401px){
    top: 60px;
    height: auto;

    width: 300px;
  }

  @media screen and (max-width: 400px){
    top: 55px;
    width: 70%;

    height: 200px;
  }


  .topNotice{
    position: relative;
    top: -60px;

    @media screen and (max-width: 774px){
      top: -120px;
    }

    margin-bottom: -60px;

    @media screen and (max-width: 774px) and (min-width: 401px){
      margin-bottom: -120px;
    }

    @media screen and (max-width: 400px){
      top: -110px;
      margin-bottom: -110px;
    }

    .leftIcon{
      position: relative;
      z-index: 1000001;

      top: -19px;
      margin-bottom: -21px;

      @media screen and (max-width: 774px) and (min-width: 401px){
        top: 55px;
      }

      @media screen and (max-width: 400px){
        top: 44px;
        left: -27px;

      }

      i {
        padding: 18px 20px;
        display: inline-block;
        -moz-border-radius: 100px;
        -webkit-border-radius: 100px;
        border-radius: 100px;

        border: 10px solid white;

        color: white;

        background: #ed1c24;

        font-size: 2.5em;

        @media screen and (max-width: 774px) and (min-width: 401px){
          //font-size: 1.5em;
        }

        @media screen and (max-width: 400px){
          font-size: 1.5em;
          padding: 14px 16px;
        }
      }
    }

    .textHolderRight{
      background: #ededed;
      padding: 15px;
      border-radius: 5px;

      @media screen and (max-width: 774px){
        padding-left: 65px;
      }
      
      h3{
        font-size: 1.6em;
        font-weight: 700;

        text-align: center;
      }
    }
  }

  .textMain{
    position: relative;
    top: 10px;

    float: left;

    @media screen and (max-width: 774px) and (min-width: 401px){
      margin-top: 15px;
    }

    @media screen and (max-width: 400px){
      margin-top: 15px;

      height: 140px;
      overflow: auto;

      padding-bottom: 10px;
    }

    p{
      text-align: left;
      line-height: 1.3em;

      @media screen and (max-width: 400px){
        font-size: .7em;
      }
    }
  }
}

// Checkout page 1
.checkoutPageFirst{

  .innerPageMain{

    .innerCent{
      float: none;
      margin: 0% auto;

      .leftChecks {
        @media screen and (max-width: 774px) {
          float: none;
          margin: 0% auto;

          margin-bottom: 15px;
        }

          .firstOption {

          .imageMain {
            text-align: center;

            img {
              height: 80px;
            }
          }

          .bottomArea {
            margin-top: 15px;

            h4 {
              text-align: center;

              color: #5a5858;

              font-size: 1.2em;
              font-weight: 700;
            }

            h5 {
              margin-top: 5px;
              text-align: center;

              color: #5a5858;

              font-size: .8em;
              font-weight: 500;
            }

            .checkboxHold{
              text-align: center;

              margin-top: 20px;

              .styled-checkbox {
                position: absolute; // take it out of document flow
                opacity: 0; // hide it

                & + label {
                  position: relative;
                  cursor: pointer;
                  padding: 0;
                }

                // Box.
                & + label:before {
                  content: '';
                  margin-right: 10px;
                  display: inline-block;
                  vertical-align: text-top;
                  width: 35px;
                  height: 35px;
                  background: transparent;

                  border: 5px solid #333;
                  border-radius: 5px;
                }

                // Box hover
                &:checked + label:before {
                  background: transparent;
                }

                // Box focus
                &:focus + label:before {
                  //box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
                }

                // Box checked
                &:checked + label:before {
                  background: transparent;
                }

                // Disabled state label.
                &:disabled + label {
                  color: #b8b8b8;
                  cursor: auto;
                }

                // Disabled box.
                &:disabled + label:before {
                  box-shadow: none;
                  background: #ddd;
                }

                // Checkmark. Could be replaced with an image
                &:checked + label:after {
                  content: '';
                  position: absolute;
                  left: 9px;
                  top: 17px;
                  background: rgb(97, 192, 137);
                  width: 5px;
                  height: 5px;
                  box-shadow:
                          2px 0 0 rgb(97, 192, 137),
                          4px 0 0 rgb(97, 192, 137),
                          4px -6px 0 rgb(97, 192, 137),
                          4px -4px 0 rgb(97, 192, 137),
                          4px -10px 0 rgb(97, 192, 137),
                          4px -14px 0 rgb(97, 192, 137);
                  transform: rotate(45deg);
                }
              }
            }
          }
        }

        .secondOption {

          .imageMain {
            text-align: center;

            img {
              height: 80px;
            }
          }

          .bottomArea {
            margin-top: 15px;

            h4 {
              text-align: center;

              color: #5a5858;

              font-size: 1.2em;
              font-weight: 700;
            }

            h5 {
              margin-top: 5px;
              text-align: center;

              color: #5a5858;

              font-size: .8em;
              font-weight: 500;
            }

            .checkboxHold{
              text-align: center;

              margin-top: 20px;

              .styled-checkbox2 {
                position: absolute; // take it out of document flow
                opacity: 0; // hide it

                & + label {
                  position: relative;
                  cursor: pointer;
                  padding: 0;
                }

                // Box.
                & + label:before {
                  content: '';
                  margin-right: 10px;
                  display: inline-block;
                  vertical-align: text-top;
                  width: 35px;
                  height: 35px;
                  background: transparent;

                  border: 5px solid #333;
                  border-radius: 5px;
                }

                // Box hover
                &:checked + label:before {
                  background: transparent;
                }

                // Box focus
                &:focus + label:before {
                  //box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
                }

                // Box checked
                &:checked + label:before {
                  background: transparent;
                }

                // Disabled state label.
                &:disabled + label {
                  color: #b8b8b8;
                  cursor: auto;
                }

                // Disabled box.
                &:disabled + label:before {
                  box-shadow: none;
                  background: #ddd;
                }

                // Checkmark. Could be replaced with an image
                &:checked + label:after {
                  content: '';
                  position: absolute;
                  left: 9px;
                  top: 17px;
                  background: rgb(97, 192, 137);
                  width: 5px;
                  height: 5px;
                  box-shadow:
                          2px 0 0 rgb(97, 192, 137),
                          4px 0 0 rgb(97, 192, 137),
                          4px -6px 0 rgb(97, 192, 137),
                          4px -4px 0 rgb(97, 192, 137),
                          4px -10px 0 rgb(97, 192, 137),
                          4px -14px 0 rgb(97, 192, 137);
                  transform: rotate(45deg);
                }
              }
            }
          }
        }
      }

      .rightActions{
        @media screen and (max-width: 400px) {
          margin-left: -13px;
          padding: 0px;
        }

        .innerMainDrops{

          .topDropdown{

            h3{
              margin-bottom: 14px;
              text-align: right;

              @media screen and (max-width: 774px) and (min-width: 401px){
                text-align: center;
                padding-left: 75px;
              }

              @media screen and (max-width: 400px) {
                font-size: 1em;
              }
            }

            .dropDownMain{

              .leftImage{
                background: rgb(188, 224, 198);

                height: 55px;
                width: 60px;

                padding: 15px;

                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;

                float: left;

                img{
                  width: 100%;
                }
              }

              .inputRight{
                background: rgb(97, 192, 137);

                height: 55px;
                width: 155px;

                @media screen and (max-width: 774px){
                  width: 80%;
                }

                margin-left: 65px;

                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;

                input{
                  width: 100%;
                  height: 100%;

                  background: transparent;
                  border: none;

                  padding: 10px;
                  padding-left: 23px;

                  font-size: 1.6em;
                  font-weight: bold;

                  color: white;

                  text-align: center;
                }
              }
            }
          }

          .bottomDropdown{

            h3{
              font-weight: bold;
              font-size: 1.6em;

              padding: 10px;

              text-align: right;

              color: #5a5858;

              margin-right: 15px;

              @media screen and (max-width: 774px){
                text-align: center;
                padding-left: 85px;
              }
            }

            .dropDownMain{

              .leftImage{
                background: rgb(188, 224, 198);

                height: 55px;
                width: 60px;

                padding: 15px;
                padding-top: 13px;

                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;

                float: left;

                img{
                  width: 100%;
                }
              }

              .inputRight{
                background: rgb(97, 192, 137);

                height: 55px;
                width: 155px;

                @media screen and (max-width: 774px){
                  width: 80%;
                }

                margin-left: 65px;

                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;

                h3{
                  color: white;

                  text-align: center;
                  padding-top: 12px;
                  padding-left: 30px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.checkoutPageSecond{

  .innerPageMain{
    float: none;
    margin: 0% auto;

    background: white;

    .text-main{
      background: #ededed;
      padding: 20px;

      border-radius: 8px;

      h3{

      }
    }
  }
}

// Checkout page 2
.checkoutPageSecond{

  .innerPageMain{
    float: none;
    margin: 0% auto;

    background: white !important;

    .selectHold{
      background: white;
      margin-bottom: 14px;

      .dropDownInner{

        .dropDownLabelHold{
          padding-right: 0px;
          padding-left: 11px;



          .inner {
            background: rgb(188, 224, 198);

            height: 55px;

            text-align: center;

            border-top-left-radius: 5px;

            h3 {
              font-size: 1.6em;

              color: #5a5858;
              padding-top: 12px;

              text-align: center;

              @media screen and (max-width: 774px){
                font-weight: bold;
                font-size: 1em;
                padding-top: 18px;

              }
            }
          }
        }

        .dropDownButton{
          cursor: pointer;
          padding-right: 10px;

          @media screen and (max-width: 774px){
            padding-left: 4px;
          }

          .inner {
            background: rgb(216, 232, 213);
            height: 55px;

            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;

            h2{
              text-align: center;
              color: rgb(63, 138, 96);

              font-size: 1.6em;

              padding-top: 15px;
            }
          }
        }
      }
    }

    .textMain{
      background: #ededed;
      padding: 20px;

      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;

      margin-right: 11px;
      margin-left: 11px;

      margin-bottom: 15px;

      h3{
        text-align: center;

        font-size: 1.5em;
        font-weight: 400;

        margin-bottom: 10px;

        color: #5a5858;

        @media screen and (max-width: 774px){
          font-size: 1.2em;
        }
      }

      textarea{
        width: 100%;
        height: 150px;

        background: transparent;
        border: 1px solid rgba(0,0,0, .2);

        border-radius: 5px;

        resize: none;

        outline: none;

        padding: 10px;
      }
    }

    .firstCounter{
      margin-left: 10px;
      text-transform: uppercase;

      color: #5a5858;
    }

    .counterHold{
      text-transform: uppercase;

      color: #5a5858;

      font-size: .7em;
      font-weight: 700;
    }
  }
}

// Checkout page 3
.checkoutPageThird{


  .innerPageMain{
    background: white !important;

    @media screen and (max-width: 774px){
      padding: 0px !important;
    }

    .leftColumn{
      height: 500px;
      padding: 5px;
      padding-top: 0px;

      @media screen and (max-width: 774px){
        margin-bottom: 20px;
      }

      .inputType{
        margin-bottom: 10px;

        input, textarea{
          width: 100%;

          padding: 10px;
          background: rgb(237, 239, 240);
          border: none;

          font-size: 1.2em;
          font-weight: 400;

          border-radius: 5px;
        }

        textarea{
          height: 265px;
          resize: none;
        }
      }
    }

    .rightColumn{
      height: 500px;

      @media screen and (max-width: 774px){
        padding-right: 5px;
        padding-left: 5px;

        height: 400px;
      }

      .innerColumn {
        background: #bce0c6;
        border-radius: 8px;

        padding: 15px;
        height: 100%;

        .topHeadBilling{

          .topImage{
            text-align: center;

            img{
              width: 60px;
            }
          }

          .topHeadTitle{
            text-align: center;
            margin-top: 10px;

            h3{
              font-weight: bold;
              font-size: 1.4em;

              color: #5a5858;

            }
          }

          .paymentInputHolder{
            margin-top: 20px;
            .inputType{
              margin-bottom: 10px;

              input, textarea{
                width: 100%;

                padding: 10px;
                background: rgba(255, 255, 255, 0.8);
                border: none;

                font-size: 1.2em;
                font-weight: 400;

                border-radius: 5px;
              }
            }

            .exp{

              h3{
                text-align: center;
                font-size: 1.4em;
                font-weight: bold;

                color: #5a5858;

                margin-bottom: 5px;
              }

              .inputType{
                padding: 0px;
              }

              .inputType:first-child{
                padding-right: 5px;
              }

              .inputType:last-child{
                padding-left: 5px;
              }
            }
          }
        }
      }
    }
  }
}

// Checkout page 4
.checkoutPageFourth{

  .innerPageMain{
    background: white !important;
    float: none;

    margin: 0% auto;

    .mainSuccess{

      .topAlertHead{
        padding: 20px;

        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        background: #bce0c6;

        h3{
          text-align: center;

          font-size: 1.4em;
          font-weight: bold;

          color: #5a5858;
        }
      }

      .mainAlertBody{
        background: #edeff0;

        margin-top: 10px;
        padding: 20px;

        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        .topImage{
          text-align: center;

          img{
            width: 100px;
          }
        }

        .bottomAlertBody{
          padding: 10px;
          padding-top: 20px;

          p{
            text-align: center;

            font-size: 1.2em;
          }
        }
      }
    }
  }
}

.hidden{
  display: none !important;
}

// Direction buttons
.directionButtons{
  margin-top: 50px;

  text-align: center;

  button{
    background: #64bf88;
    padding: 10px 15px;

    color: white;
    border: none;

    border-radius: 5px;

    margin-right: 10px;

    transition: background .5s;
  }

  button:hover{
    background: darken(#64bf88, 20%);

  }
}

// Nav items
#prog1{
  background-image: url(images/4.png);
  background-position: center;
  background-size: 55px 55px;
  background-repeat: no-repeat;

  @media screen and (max-width: 774px){
    background-size: 45px 45px;
  }
}

#prog2{
  background-image: url(images/3.png);
  background-position: bottom;
  background-size: 65px 65px;
  background-repeat: no-repeat;

  @media screen and (max-width: 774px){
    background-size: 45px 45px;
  }
}

#prog3{
  background-image: url(images/2.png);
  background-position: bottom;
  background-size: 65px 65px;
  background-repeat: no-repeat;

  @media screen and (max-width: 774px){
    background-size: 45px 45px;
  }
}

#prog4{
  background-image: url(images/1.png);
  background-position: center;
  background-size: 45px 45px;
  background-repeat: no-repeat;

  @media screen and (max-width: 774px){
    background-size: 35px 35px;
  }
}